.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
.DS_Store
.env
.env.*
*.log
coverage/**
test/**
tests/**
**/*.test.js
**/*.test.ts
**/*.spec.js
**/*.spec.ts